html{
  
  box-sizing: border-box;
}
body{
  margin: 0;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif !important;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
main{
  min-height: 100vh;
}

.bg{
  background-color: darkslategray;
}
.naira{
  text-decoration: line-through;
    text-decoration-style: double;
}

.rate{
  color: #f0c040;
}