/*Checkout Steps styles*/
.inactive {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}

.actived {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
  flex: 1;
  padding: 1rem;
}
